@use '~@yalesites-org/tokens/build/scss/tokens';
@use '/components/00-base/functions/map';

$widths: map.deep-get(tokens.$tokens, layout, width);
$thicknesses: map.deep-get(tokens.$tokens, size, thickness);
$positions: left, center, right;

.divider__wrapper {
  display: flex;
  justify-content: center;

  @each $position in $positions {
    &[data-divider-position='#{$position}'] {
      @if $position == left {
        justify-content: flex-start;
      } @else if $position == right {
        justify-content: flex-end;
      }
    }
  }
}

.divider {
  background: var(--color-divider);
  width: 100%;
  height: calc(0.5rem / 16);

  @each $width, $value in $widths {
    &[data-divider-width='#{$width}'] {
      width: var(--layout-width-#{$width});
    }
  }

  @each $thickness, $value in $thicknesses {
    &[data-divider-thickness='#{$thickness}'] {
      height: var(--size-thickness-#{$thickness});
    }
  }
}
