$widths: 100%, 75%, 50%, 25%;
$thicknesses: 1, 2, 3, 4, 5, 6;
$positions: (
  left: flex-start,
  center: center,
  right: flex-end,
);

.divider__wrapper {
  display: flex;
  justify-content: center;

  @each $position, $value in $positions {
    &[data-divider-position='#{$position}'] {
      justify-content: #{$value};
    }
  }
}

.divider {
  background: var(--color-divider);
  width: 100%;
  height: calc(0.5rem / 16);

  @each $width in $widths {
    &[data-divider-width='#{$width}'] {
      width: #{$width};
    }
  }

  @each $thickness in $thicknesses {
    &[data-divider-thickness='#{$thickness}'] {
      height: var(--size-thickness-#{$thickness});
    }
  }
}
