@use '../../00-tokens/tokens';

$divider-widths: 100, 75, 50, 25;

@each $divider-width in $divider-widths {
  .divider[data-divider-width='#{$divider-width}'] {
    // [data-divider-width="100"] {
    --width-divider: var(
      --layout-width-#{$divider-width}
    ); //   --width-divider: var(--layout-width-100);
  } // }
}

$divider-positions: left, center;

@each $divider-position in $divider-positions {
  .divider__inner[data-divider-position='#{$divider-position}'] {
    // [data-divider-position="left"] {
    --position-divider: var(
      --layout-flex-position-#{$divider-position}
    ); //   --position-divider: var(--layout-flex-position-left);
  } // }
}

.divider__wrapper {
  @include tokens.spacing-page-section;
}

.divider__inner {
  display: flex;
  justify-content: var(--position-divider);
}

.divider {
  background: var(--color-divider);
  width: var(--width-divider);
  height: var(--thickness-divider);
}
