{#
 # Available Variables:
 # - divider__width: available options are 100% (default), 75%, 50%, and 25%
 # - divider__thickness: available options are 1 (default), 2, 3, 4, 5, and 6
 # - divider__position: available options are center (default), left, and right
 #}

{% set divider__base_class = 'divider' %}
{% set divider__position = divider__position|default('center')|lower %}

{% set divider__wrapper__attributes = {
  'data-component-width': divider__width|default('site'),
  class: bem('wrapper', [], divider__base_class),
} %}

<div style="--width-divider: var(--layout-width-{{ divider__width|default('100') }}, var(--layout-width-100))">
  <div {{ add_attributes(divider__wrapper__attributes) }}>
    {% block prefix_suffix %}
    {% endblock %}
    <div {{ bem('inner', [], divider__base_class) }}>
      <div {{ bem(divider__base_class) }}></div>
    </div>
  </div>
</div>
