@use '../../../00-tokens/tokens';

$form-item-max-width: 25rem;
$form-item-icon-size: 1.7rem;

// button-primary mixin to emulate yds-button without the HTML attributes
@mixin button-primary {
  transition: color,
    background-color var(--animation-speed-default) ease-in-out 0ms;

  --color-cta-bg: var(--color-action);
  --color-cta-bg-hover: transparent;
  --color-cta-border: var(--color-action);
  --color-cta-text: var(--color-cta-secondary);
  --color-cta-text-hover: var(--color-action);
  --border-thickness-cta: var(--border-thickness-2);
  --border-radius-cta: 100vmax;

  border: var(--border-thickness-cta, var(--border-thickness-2)) solid
    var(--color-cta-border);
  border-radius: var(--border-radius-cta, var(--radius-0));
  background-color: var(--color-cta-bg);
  color: var(--color-cta-text);
  font-weight: var(--font-weights-mallory-medium);
  padding: var(--size-spacing-3) var(--size-spacing-6);
  text-decoration: none;
  text-align: center;
  min-height: var(--size-click-target-minimum);
  width: auto;

  &:hover {
    background-color: var(--color-cta-bg-hover);
    color: var(--color-cta-text-hover);
  }
}

.form-item {
  --color-form-item-border: var(--color-gray-400);
  --color-form-item-border-focus: var(--color-gray-800);
  --color-form-item-placeholder: var(--color-gray-500);
  --color-form-item-error: var(--color-alert-emergency-background-color);

  margin-bottom: var(--size-spacing-7);
  max-width: $form-item-max-width;
  clear: both;
}

.form-item__label {
  display: block;
  margin-bottom: var(--size-spacing-1);

  @media (max-width: tokens.$break-mobile-max) {
    display: block;
    margin-right: 2%;
    padding: var(--size-spacing-4) 0;
  }

  &--required {
    font-weight: 500;
  }

  &--required::after {
    color: var(--color-gray-600);
    margin: calc(var(--size-spacing-4) * 1) 0 0 0.2em;
    content: '*';
  }
}

.form-item__textfield {
  border: var(--border-thickness-1) solid var(--color-form-item-border);
  padding: var(--size-spacing-4);
  width: 100%;
  max-width: 100%;

  &::placeholder {
    color: var(--color-form-item-placeholder);
    font-style: italic;
    opacity: 1;
  }

  &:focus {
    border-color: var(--color-form-item-border-focus);
  }

  &--error {
    border-width: var(--border-thickness-2);
    border-color: var(--color-form-item-error);
    padding-right: calc(var(--size-spacing-4) + $form-item-icon-size);

    &:focus {
      border-color: var(--color-form-item-error);
    }
  }
}

.form-item__inner--with-icon {
  position: relative;
  display: flex;
  align-items: center;
}

.form-item__error_icon__icon {
  position: absolute;
  top: auto;
  right: var(--size-spacing-4);
  fill: var(--color-alert-emergency-background-color);
  width: $form-item-icon-size;
  height: $form-item-icon-size;
}

.form-item__description {
  @include tokens.body-xs;

  padding-block: var(--size-spacing-2) 0;
}

.form-fieldset {
  border: none;
  margin-bottom: var(--size-spacing-4);
  padding: 0;

  .form-item {
    margin-inline: var(--size-spacing-4);
    max-width: $form-item-max-width;
  }
}

.form-item__error-text {
  @include tokens.body-s-condensed;

  color: var(--color-form-item-error);
}

.form-actions {
  .webform-button--submit {
    @include button-primary;
  }
}
