@use '../../../00-tokens/tokens';

h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--color-heading);
  margin-block: 0 0.6em;
}

.text-field {
  h1 {
    @include tokens.h1-yale-new;
  }

  h2 {
    @include tokens.h2-yale-new;
  }

  h3 {
    @include tokens.h3-yale-new;
  }

  h4 {
    @include tokens.h4-yale-new;
  }

  h5 {
    @include tokens.h5-yale-new;
  }

  h6 {
    @include tokens.h6-yale-new;
  }

  * + {
    h2,
    h3,
    h4,
    h5,
    h6 {
      margin-top: 1em;
    }
  }
}
