@use '../../../00-tokens/tokens';
@use '../../controls/text-link/text-link';

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  color: var(--color-heading);
}

@mixin text-field-header-spacing {
  margin-block: 0 0.6em;

  &:not(:first-child) {
    margin-top: 1em;
  }
}

h1:not([class]) {
  @include tokens.h1-yale-new;
  @include text-field-header-spacing;
}

h2:not([class]) {
  @include tokens.h2-yale-new;
  @include text-field-header-spacing;
}

h3:not([class]) {
  @include tokens.h3-yale-new;
  @include text-field-header-spacing;
}

h4:not([class]) {
  @include tokens.h4-yale-new;
  @include text-field-header-spacing;
}

h5:not([class]) {
  @include tokens.h5-yale-new;
  @include text-field-header-spacing;
}

h6:not([class]) {
  @include tokens.h6-yale-new;
  @include text-field-header-spacing;
}

.heading__link {
  @include text-link.link(no-underline);
}
