@use '../../../01-atoms/atoms';

@mixin primary-nav-item-0 {
  padding: var(--size-spacing-2) var(--size-spacing-5) var(--size-spacing-5);

  // Typography should be captured as a token
  font-size: 1.25rem;
  line-height: 1.65;
  font-weight: 700;
  color: var(--colors-gray-800);
}

.primary-nav {
  position: relative;
}

.primary-nav__menu {
  @include atoms.list-reset;

  display: flex;
  flex-wrap: wrap;

  &--level-1 {
    background-color: red;
    position: absolute;
    top: 100%;

    // @TODO: This calculation should maybe subtract a "site-gutter-spacing"
    // value or something in case the site gutters get adjusted later.
    width: calc(100vw - calc(var(--size-spacing-8) * 2));
    max-width: var(--size-component-layout-width-max);
    column-count: 4;

    [data-site-header-nav-position='right'] & {
      right: 0;
    }

    [data-site-header-nav-position='left'] & {
      left: 0;
    }

    [data-site-header-nav-position='center'] & {
      left: 0;
    }

    [aria-expanded='false'] ~ & {
      display: none;
    }
  }

  &--level-2 {
    margin-left: var(--size-spacing-6);
  }
}

// .primary-nav__item {
//   display: flex;
//   flex-direction: column;
// }

.primary-nav__link {
  text-decoration: none;

  &--level-0 {
    @include primary-nav-item-0;

    display: block;
  }

  &--with-sub {
    display: none;
  }
}

.primary-nav__toggle {
  @include atoms.button-reset;

  display: flex;
  gap: var(--size-spacing-3);

  &--level-0 {
    @include primary-nav-item-0;
  }
}
