@use '../../00-tokens/functions/map';
@use '../../00-tokens/tokens';

/**
 * @file
 * Empty state styles for Views.
 */

// Get global themes
$global-themes: map.deep-get(tokens.$tokens, 'global-themes');

/* Empty state message styling for views_basic_scaffold */
.view-empty-wrapper {
  background-color: var(--color-gray-100);
  padding: var(--size-spacing-6);

  // Set up color slots from global theme context
  @each $globalTheme, $value in $global-themes {
    [data-global-theme='#{$globalTheme}'] & {
      --color-slot-one: var(--global-themes-#{$globalTheme}-colors-slot-one);
    }
  }
}

.view-empty-wrapper h2.inline-message__heading {
  @include tokens.heading(h5);

  margin: 0 0 var(--size-spacing-3) 0;
  color: var(--color-slot-one);
}

.view-empty-wrapper p.inline-message__text {
  @include tokens.body-s-condensed;

  margin: 0;
  color: var(--color-slot-one);
}
