{#
 # Available Variables:
 # - gallery__heading (optional)
 #
 # Available Blocks:
 # - gallery__items
 #}

{% set gallery__base_class = 'gallery' %}

{% set gallery__attributes = {
  'data-component-width': 'feature',
} %}

<div {{ bem(gallery__base_class) }} {{ add_attributes(gallery__attributes) }}>
  <div {{ bem('inner', [], gallery__base_class) }}>
    {% if gallery__heading %}
      {% include "@atoms/typography/headings/yds-heading.twig" with {
        heading__level: '2',
        heading__blockname: gallery__base_class,
        heading: gallery__heading,
      } %}
    {% endif %}
    <ul {{ bem('items', [], gallery__base_class) }}>
      {% block gallery__items %}
        {% for item in gallery__items %}
          <li>
            {% include "@atoms/images/image/_responsive-image.twig" %}
          </li>
        {% endfor %}
      {% endblock %}
    </ul>
  </div>
</div>
