.placeholder {
  color: var(--color-gray-500);
  border: var(--border-thickness-4) dashed;
  padding: var(--size-spacing-9);

  &__content {
    font: var(--font-style-heading-h2-mallory-compact-book);
    width: var(--layout-width-100);
    display: flex;
    place-content: var(--layout-flex-position-center);
    text-align: center;
    overflow-wrap: anywhere;
  }
}
