{% set breadcrumbs__base_class = 'breadcrumbs' %}

{% set breadcrumbs__attributes = {
  'data-breadcrumbs-overflow': 'hidden',
  'data-component-width': 'max',
  class: bem('wrapper', [], breadcrumbs__base_class),
} %}

<div {{ add_attributes(breadcrumbs__attributes) }}>
  {% embed "@atoms/buttons/button.twig" with {
    button__blockname: breadcrumbs__base_class,
    aria_pressed: 'false',
    aria_expanded: 'false',
    aria_controls: 'breadcrumbs-inner',
  } %}
    {% block button__content %}
      <span {{ bem('visually-hidden') }}>Show all breadcrumbs</span>
    {% endblock %}
  {% endembed %}
  <div id="breadcrumbs-inner" {{ bem('inner', [], breadcrumbs__base_class) }}>
    {% include "@molecules/menu/menu.twig" with {
      menu__base_class: breadcrumbs__base_class,
      menu__name: 'Breadcrumb',
      items: breadcrumbs__items|default(items),
      breadcrumb: true,
    } %}
  </div>
</div>
