{%
  set control_icon__names = {
    'external': 'fa-arrow-up-right',
    'download': 'fa-circle-down',
    'target_blank': 'fa-arrow-up-right-from-square',
  }
%}

{% if control__url_type != 'internal' %}
  <span class="sr-only"></span>
  <i class="fa-icon fa-solid {{ control_icon__names[control__url_type] }}"></i>
{% endif %}
