@use '../../00-tokens/tokens';
@use '../../01-atoms/atoms';

.card-collection {
  padding-bottom: var(--size-spacing-10);
  margin-bottom: var(--size-spacing-10);
  border-bottom: var(--border-thickness-1) solid var(--color-divider);
}

.card-collection__heading {
  @include tokens.h2-yale-new;

  margin-bottom: var(--size-spacing-10);
}

.card-collection__cards {
  @include atoms.list-reset;

  display: grid;
  gap: var(--spacing-component-gutter);

  @media (min-width: tokens.$break-mobile) {
    [data-collection-type='list'] & {
      flex-direction: column;
    }

    [data-collection-type='grid'][data-collection-featured='true'] & {
      grid-template-columns: 1fr 1fr 1fr;
    }

    [data-collection-type='grid'][data-collection-featured='false'] & {
      grid-template-columns: 1fr 1fr 1fr 1fr;
    }
  }
}
