@use '../../00-tokens/tokens';
@use '../../01-atoms/atoms';

.card-collection {
  @include tokens.spacing-page-section;
}

.card-collection__heading {
  @include tokens.h2-yale-new;

  margin-bottom: var(--spacing-page-section);
}

.card-collection__cards {
  @include atoms.list-reset;

  display: grid;
  gap: var(--spacing-component-gutter);

  @media (min-width: tokens.$break-mobile) {
    [data-collection-type='list'] & {
      flex-direction: column;
    }

    [data-collection-type='grid'][data-collection-featured='true'] & {
      grid-template-columns: 1fr 1fr 1fr;
    }

    [data-collection-type='grid'][data-collection-featured='false'] & {
      grid-template-columns: 1fr 1fr 1fr 1fr;
    }
  }

  [data-collection-type='list'] & > * {
    padding-bottom: var(--spacing-component-gutter);
    border-bottom: var(--border-thickness-1) solid var(--color-divider-subtle);
    @include tokens.animate(box-shadow);

    &:hover {
      // This shadow is hard coded because it has to be adjusted to make it
      // appear as though it's a shadow on only the border-bottom element.
      // There isn't currently anything else that looks like this. If there ever
      // Is, perhaps it should be captured as a token in a new drop-shadow set.
      box-shadow: 0 8px 6px -6px hsl(0deg 0% 0% / 16%);
    }
  }
}
