@use '../../00-tokens/tokens';
@use '../../01-atoms/atoms';

.quick-links__content-wrapper {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  overflow: hidden;
}

.quick-links__content {
  position: relative;
  display: grid;
  width: 100%;
  padding: var(--size-spacing-9) var(--size-spacing-5);

  @media (min-width: tokens.$break-xl) {
    grid-template-columns: 1fr 2fr;
    gap: var(--size-spacing-9);
    align-items: center;
  }
}

.quick-links__heading {
  @include tokens.h2-yale-new;
}

.quick-links__description {
  margin-top: var(--size-spacing-3);
}

.quick-links__links {
  display: grid;
  row-gap: var(--size-spacing-6);

  @media (min-width: tokens.$break-s) {
    grid-template-columns: 1fr 1fr;
    column-gap: var(--size-spacing-7);
  }

  @media (min-width: tokens.$break-m) {
    gap: var(--size-spacing-7) var(--size-spacing-9);
  }

  @media (min-width: tokens.$break-l) {
    grid-template-columns: 1fr 1fr 1fr;
  }

  @media (min-width: tokens.$break-xl) {
    grid-template-columns: 1fr 1fr;
  }

  @media (min-width: tokens.$break-2xl) {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

.quick-links__link {
  @include atoms.link;
}

.quick-links__cta {
  @include atoms.cta;
}

.quick-links__image {
  [data-quick-links-variation='promotional'] & {
    position: absolute;
    background-blend-mode: multiply;
    background-color: var(--color-background);
    opacity: 0.15;
  }
}
