@use '../../00-tokens/tokens';
@use '../../01-atoms/atoms';

.quick-links {
  position: relative;
  overflow: hidden;
}

.quick-links__inner {
  display: grid;
  gap: var(--size-spacing-6);
  padding: var(--size-spacing-9) var(--size-spacing-5);

  @media (min-width: tokens.$break-s) {
    gap: var(--size-spacing-7);
  }

  @media (min-width: tokens.$break-l) {
    gap: var(--size-spacing-8);
  }

  @media (min-width: tokens.$break-xl) {
    [data-quick-links-layout='fluid'] & {
      grid-template-columns: 1fr 2fr;
    }

    gap: var(--size-spacing-9);
  }
}

.quick-links__text {
  z-index: 1;
}

.quick-links__heading {
  @include tokens.h2-yale-new;

  [data-quick-links-layout='stacked'] & {
    text-align: center;
  }
}

.quick-links__description {
  margin-bottom: var(--size-spacing-8);

  [data-quick-links-variation='subtle'] & {
    margin-top: var(--size-spacing-6);
  }

  [data-quick-links-layout='stacked'] & {
    text-align: center;
  }
}

.quick-links__links {
  position: relative;
  display: grid;
  row-gap: var(--size-spacing-6);

  [data-quick-links-variation='subtle'] & {
    grid-template-columns: 1fr 1fr 1fr;
    justify-items: start;

    @media (max-width: tokens.$break-s) {
      grid-template-columns: 1fr 1fr;
    }
  }

  @media (min-width: tokens.$break-s) {
    grid-template-columns: 1fr 1fr;
    column-gap: var(--size-spacing-7);
  }

  @media (min-width: tokens.$break-m) {
    gap: var(--size-spacing-7) var(--size-spacing-9);
  }

  @media (min-width: tokens.$break-l) {
    grid-template-columns: 1fr 1fr 1fr;
  }

  @media (min-width: tokens.$break-xl) {
    [data-quick-links-layout='fluid'] & {
      grid-template-columns: 1fr 1fr;
    }

    grid-template-columns: 1fr 1fr 1fr 1fr;
  }

  @media (min-width: tokens.$break-2xl) {
    [data-quick-links-layout='fluid'] & {
      grid-template-columns: 1fr 1fr 1fr;
    }

    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}

.quick-links__link {
  [data-quick-links-variation='subtle'] & {
    @include atoms.link;
  }
}

.quick-links__cta {
  @include atoms.cta;
}

.quick-links__image {
  [data-quick-links-variation='promotional'] & {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-blend-mode: multiply;
    background-color: var(--color-background);
    opacity: 0.15;

    img {
      height: 100%;
      width: 100%;
      object-fit: cover;
    }
  }
}
