@use '../../00-tokens/tokens';
@use '../../01-atoms/atoms';

.tabs {
  @include tokens.spacing-page-section;
  @include tokens.animate(height);

  overflow: hidden;
  position: relative;
}

.tabs__tabs {
  display: flex;
  justify-content: center;
  border-bottom: 1px solid var(--color-divider);
}

.tabs__nav {
  @include atoms.list-reset;

  display: flex;
  gap: var(--size-spacing-7);
  overflow: auto;
}

.tabs__item {
  flex-shrink: 0;
}

.tabs__link {
  @include tokens.underline-slide-start('no-underline', $size: 'thick');

  display: block;
  text-decoration: none;
  padding-inline: var(--size-spacing-3);
  color: var(--color-gray-500);

  &:hover {
    color: var(--link-color-base);
  }

  &:focus-visible {
    outline-offset: -2px;
  }

  // Active tab.
  &[aria-selected='true'] {
    @include tokens.underline-slide-end('no-underline', $size: 'thick');

    color: var(--color-blue-yale);
  }
}

.tabs__container {
  position: absolute;
  width: 100%;
  padding-top: var(--size-spacing-9);

  &:not(.is-active) {
    @include tokens.animate-hidden;

    opacity: 0;
    transition: opacity 800ms;
  }

  &.is-active {
    opacity: 1;
    transition: opacity 800ms;
  }
}
