.cl-spacing {
  display: grid;
  grid-template-columns: repeat(4, minmax(50px, max-content));
  column-gap: 4rem;
  row-gap: 1rem;
  align-items: center;

  &__header {
    font-weight: bold;
    text-transform: uppercase;
  }

  &__line {
    grid-column: 1 / -1;
    height: 1px;
    background: var(--color-divider);
  }
}
