@use '~@yalesites-org/tokens/build/scss/tokens';
@use '../../00-tokens/functions/map';
@use 'sass:map' as sass-map;
@use '../../00-tokens/index.scss' as base;

$site-header-themes: map.deep-get(tokens.$tokens, site-header-themes);
$site-header-border-thickness: map.deep-get(tokens.$tokens, border, thickness);
$site-header-layout: map.deep-get(tokens.$tokens, 'site-header-layout');

.site-header {
  --site-header-padding: var(--size-spacing-0) var(--size-spacing-8);

  // prettier-ignore
  --site-header-border-bottom: var(--site-header-border-thickness) solid var(--color-site-header-border-color);

  padding: var(--site-header-padding);
  border-bottom: var(--site-header-border-bottom);

  // Component themes
  @each $theme, $value in $site-header-themes {
    &[data-component-theme='#{$theme}'] {
      // prettier-ignore
      --color-site-header-yale-branding: var(--site-header-themes-#{$theme}-yale-branding);

      // prettier-ignore
      --color-site-header-site-branding: var(--site-header-themes-#{$theme}-site-branding);

      // prettier-ignore
      --color-site-header-border-color: var(--site-header-themes-#{$theme}-border-color);

      // prettier-ignore
      --color-site-header-divider-color: var(--site-header-themes-#{$theme}-divider-color);
    }
  }

  // Border bottom thickness
  @each $thickness, $value in $site-header-border-thickness {
    &[data-site-header-border-thickness='#{$thickness}'] {
      --site-header-border-thickness: var(--border-thickness-#{$thickness});
    }
  }
}

.site-header__mobile-header {
  display: flex;
  gap: var(--size-spacing-6);
  justify-content: space-between;
  align-items: center;
  padding: var(--size-spacing-4) 0;

  @media (min-width: base.$break-mobile) {
    display: none;
  }
}

.site-header__menu-wrapper {
  display: flex;
  flex-direction: column-reverse;

  @media (max-width: base.$break-mobile-max) {
    @include base.animate('max-height, border-top-width', 800ms);

    z-index: 1;
    position: absolute;
    left: 0;
    background: var(--color-background);
    flex-direction: column;
    max-height: 100vh;
    overflow: scroll;
    border-bottom: var(--site-header-border-bottom);

    [data-main-menu-state='closed'] & {
      max-height: 0;
    }
  }
}

.site-header__secondary {
  display: flex;
  flex-wrap: wrap;
  gap: var(--size-spacing-6);
  justify-content: space-between;
  align-items: center;
  padding: var(--size-spacing-4) 0;

  @media (max-width: base.$break-mobile-max) {
    padding-inline: var(--size-spacing-8);
    border-top: var(--site-header-border-bottom);
  }

  @media (min-width: base.$break-mobile) {
    // prettier-ignore
    border-bottom: var(--border-thickness-hairline) solid var(--color-site-header-divider-color);
  }
}

.site-header__primary {
  display: flex;
  flex-flow: var(--site-header-flex-direction) wrap;
  gap: var(--size-spacing-6);
  padding: var(--size-spacing-6) 0;
  justify-content: var(--site-header-layout-justify);
  align-items: var(--site-header-layout-align);

  // Primary nav position
  @each $layout, $value in $site-header-layout {
    [data-site-header-nav-position='#{$layout}'] & {
      // prettier-ignore
      --site-header-flex-direction: var(--site-header-layout-#{$layout}-flex-direction);

      // prettier-ignore
      --site-header-layout-justify: var(--site-header-layout-#{$layout}-justify);
      --site-header-layout-align: var(--site-header-layout-#{$layout}-align);
    }
  }

  @media (max-width: base.$break-mobile-max) {
    padding-inline: var(--size-spacing-8);
  }
}

.site-header__yale-branding {
  font: var(--font-style-branding-yale);
  color: var(--color-site-header-yale-branding);
  text-decoration: none;

  &--secondary {
    @media (max-width: base.$break-mobile-max) {
      display: none;
    }
  }
}

.site-header__utility-nav {
  margin-left: auto;

  @media (max-width: base.$break-mobile-max) {
    width: 100%;
  }
}

.site-header__site-branding {
  font: var(--font-style-branding-site);
  color: var(--color-site-header-site-branding);
  text-decoration: none;
}

.site-header__primary-nav {
  [data-site-header-nav-position='right'] & {
    margin-left: auto;
  }
}
