@use '~@yalesites-org/tokens/build/scss/tokens';
@use '../../00-tokens/functions/map';
@use 'sass:map' as sass-map;

$site-header-border-thickness: map.deep-get(tokens.$tokens, border, thickness);
$site-header-nav-positions: map.deep-get(
  tokens.$tokens,
  layout,
  'flex-position'
);

.site-header {
  --color-site-header-yale-branding: var(--color-blue-light);
  --color-site-header-site-branding: var(--color-blue-yale);

  padding: var(--size-spacing-0) var(--size-spacing-8);

  // prettier-ignore
  border-bottom: var(--site-header-border-thickness) solid var(--color-blue-yale);

  &[data-component-theme='gray-200'],
  &[data-component-theme='gray-100'],
  &[data-component-theme='beige'],
  &[data-component-theme='white'] {
    --color-site-header-yale-branding: var(--color-blue-yale);
  }

  &[data-component-theme='gray-800'],
  &[data-component-theme='gray-700'],
  &[data-component-theme='blue-yale'] {
    --color-site-header-site-branding: var(--color-basics-white);
  }

  // Border bottom thickness
  @each $thickness, $value in $site-header-border-thickness {
    &[data-site-header-border-thickness='#{$thickness}'] {
      --site-header-border-thickness: var(--border-thickness-#{$thickness});
    }
  }
}

.site-header__secondary {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: var(--size-spacing-4) 0;
  border-bottom: var(--border-thickness-hairline) solid;
}

.site-header__primary {
  display: flex;
  gap: var(--size-spacing-6);
  padding: var(--size-spacing-6) 0;

  // Primary nav position
  [data-site-header-nav-position='left'] & {
    flex-direction: column;
    justify-content: sass-map.get($site-header-nav-positions, 'left');
    align-items: sass-map.get($site-header-nav-positions, 'left');
  }

  [data-site-header-nav-position='center'] & {
    flex-direction: column;
    justify-content: sass-map.get($site-header-nav-positions, 'center');
    align-items: sass-map.get($site-header-nav-positions, 'center');
  }

  [data-site-header-nav-position='right'] & {
    justify-content: space-between;

    // flex-direction: column;

    // .site-header__primary-nav {
    //   align-self: flex-end;
    // }
  }
}

.site-header__yale-branding {
  font: var(--font-style-heading-h5-yale-new);
  color: var(--color-site-header-yale-branding);
}

.site-header__site-branding {
  font: var(--font-style-heading-h2-yale-new);
  color: var(--color-site-header-site-branding);
}
