{#
 # Available Variables:
 # - card_grid__heading
 #
 # Available Blocks:
 # - card_grid__cards
 #}

{% set card_grid__base_class = 'card-grid' %}

<div {{ bem(card_grid__base_class) }}>
  <div {{ bem('inner', [], card_grid__base_class) }}>
    {% if card_grid__heading %}
      {% include "@atoms/typography/headings/heading.twig" with {
        heading__level: '2',
        heading__blockname: card_grid__base_class,
        heading: card_grid__heading,
      } %}
    {% endif %}
    <div {{ bem('cards', [], card_grid__base_class) }}>
      {% block card_grid__cards %}
        {% for card in card_grid__cards %}
          {% include "@organisms/card-grid/_card-grid--examples.twig" %}
        {% endfor %}
      {% endblock %}
    </div>
  </div>
</div>
