@mixin visually-hidden {
  position: absolute !important;
  clip: rect(1px, 1px, 1px, 1px);
  overflow: hidden;
  height: 1px;
  width: 1px;
  word-wrap: normal;
}

.visually-hidden {
  @include visually-hidden;
}

@mixin focus {
  outline: var(--size-thickness-2) solid var(--link-color-base);
  outline-offset: var(--size-thickness-2);
}

*:focus {
  @include focus;
}
