@use '../../00-tokens/tokens';

.embed__inner {
  @include tokens.spacing-page-section;

  iframe {
    display: block;
    border: var(--border-thickness-2) solid;
  }
}

.embed[data-embed-type='form'] {
  iframe {
    height: 70vh;
  }
}

.embed[data-embed-type='audio'] {
  iframe {
    height: 130px;
  }
}

.embed[data-embed-type='unknown'] {
  iframe {
    height: 70vh;
  }
}
