@use '../../00-tokens/tokens';

.embed__inner {
  @include tokens.spacing-page-section;

  iframe {
    display: block;
    border: var(--border-thickness-2) solid;
  }
}

$heights: (
  'form': 70vh,
  'audio': 130px,
  'unknown': 70vh,
);

@each $type, $height in $heights {
  .embed {
    iframe[data-embed-type='#{$type}'] {
      height: $height;
    }
  }
}

.embed__inner:has(iframe[data-embed-type='video']) {
  position: relative;
  padding-bottom: 56.25%; // 16:9 aspect ratio
  overflow: hidden;

  & iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}
