@use '../../00-tokens/tokens';

.embed__inner {
  @include tokens.spacing-page-section;

  iframe {
    display: block;
    border: var(--border-thickness-2) solid;
  }
}

$default-height: 70vh;
$heights: (
  'form': $default-height,
  'audio': 130px,
  'unknown': $default-height,
);

@each $type, $height in $heights {
  .embed {
    iframe[data-embed-type='#{$type}'] {
      height: $height;
    }
  }
}

.embed {
  iframe:not([data-embed-type]) {
    height: $default-height;
  }
}
