@mixin animate($property: all, $duration: 200ms, $function: ease-in-out) {
  @media (prefers-reduced-motion: no-preference) {
    transition-property: #{$property};
    transition-duration: #{$duration};
    transition-timing-function: #{$function};
  }
}
