{% set media_grid__base_class = 'media-grid' %}

<li {{ bem('item', [], media_grid__base_class) }}>
  {% include "@atoms/images/image/_responsive-image.twig" %}
  {% if media_grid__variation == 'interactive' %}
    <div {{ bem('maximize', [], media_grid__base_class) }}>
    {% include "@atoms/images/icons/_yds-icon.twig" with {
      icon__name: 'arrows-maximize',
      icon__blockname: media_grid__base_class,
    } %}
    </div>
  {% endif %}
</li>
