@use '../../../01-atoms/atoms';

.media-grid__modal {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: transparent;

  [data-media-grid-modal-state='active'] & {
    display: grid;
    place-content: center;

    &::before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      width: 100%;
      background-color: var(--color-background);
      opacity: 0.7;
    }
  }

  > * {
    position: relative;
  }

  svg {
    max-width: 100%;
    max-height: 100%;
  }
}

.media-grid-modal__inner {
  display: grid;
  grid-template-columns:
    var(--size-click-target-minimum) minmax(0, 1fr)
    var(--size-click-target-minimum);
  grid-template-areas: 'controls-start content controls-end';
  gap: var(--spacing-component-gutter-secondary);
}

.media-grid-modal__controls {
  display: grid;
  grid-template-rows: var(--size-click-target-minimum) 1fr var(
      --size-click-target-minimum
    );
  grid-template-areas:
    'start'
    'nav'
    'end';
  align-items: center;

  &--start {
    grid-area: controls-start;
  }

  &--end {
    grid-area: controls-end;
  }
}

.media-grid-modal__control {
  @include atoms.button-reset;

  max-width: 100%;
  display: grid;
  height: var(--size-click-target-minimum);

  &--previous {
    grid-area: nav;
    transform: rotate(90deg);
  }

  &--next {
    grid-area: nav;
    transform: rotate(-90deg);
  }

  &--close {
    grid-area: start;
    border: var(--size-thickness-1) solid;
    padding: var(--size-spacing-3);
  }
}

.media-grid-modal__content {
  grid-area: content;
}
