{% set media_grid__base_class = 'media-grid' %}

{% set control_nav %}
  {% include "@atoms/images/icons/_yds-icon.twig" with {
    icon__name: 'angle-down',
  } %}
{% endset %}

{% set control_close %}
  {% include "@atoms/images/icons/_yds-icon.twig" with {
    icon__name: 'xmark',
  } %}
{% endset %}

<div {{ bem('modal-item', [], media_grid__base_class) }}>
  <div {{ bem('controls', ['start'], media_grid__base_class) }}>
    {% include "@atoms/controls/base/yds-control.twig" with {
      control__blockname: media_grid__base_class,
      control__base_class: 'control',
      control__modifiers: ['previous'],
      control__content: control_nav,
    } %}
  </div>
  <div {{ bem('modal-image', [], media_grid__base_class) }}>
    {% include "@atoms/images/image/_responsive-image.twig" %}
  </div>
  <div {{ bem('controls', ['end'], media_grid__base_class) }}>
    {% include "@atoms/controls/base/yds-control.twig" with {
      control__blockname: media_grid__base_class,
      control__base_class: 'control',
      control__modifiers: ['close'],
      control__content: control_close,
    } %}
    {% include "@atoms/controls/base/yds-control.twig" with {
      control__blockname: media_grid__base_class,
      control__base_class: 'control',
      control__modifiers: ['next'],
      control__content: control_nav,
    } %}
  </div>
</div>
