// @TODO: Limit size of pager on small screens.
// Probably also enable scrolling... just in case.

@use '../../../00-tokens/tokens';
@use '../../../01-atoms/atoms';
@use '../../grid-mixins' as grid;

.media-grid {
  @include tokens.spacing-page-section;
}

.media-grid__heading {
  @include tokens.h2-yale-new;

  margin-bottom: var(--spacing-page-inner);
}

.media-grid__items {
  @include grid.secondary($media-only: true);
}

.media-grid__item {
  display: flex;
  aspect-ratio: 3/2;

  [data-media-grid-variation='interactive'] & {
    position: relative;
    background-color: var(--color-basic-black);

    &:hover > * {
      cursor: pointer;
    }
  }
}

.media-grid__image {
  @include atoms.button-reset;
  @include tokens.animate(opacity, var(--animation-speed-default));

  overflow: hidden;
  opacity: 1;

  [data-media-grid-variation='interactive'] &:focus-visible,
  [data-media-grid-variation='interactive'] .media-grid__item:hover & {
    opacity: 0.8;
  }
}

.media-grid__maximize {
  --size-icon: 0.75rem;

  @include tokens.animate(transform, var(--animation-speed-default));

  position: absolute;
  right: var(--size-spacing-4);
  bottom: var(--size-spacing-4);
  background: var(--color-basic-white);
  height: 1.5rem;
  width: 1.5rem;
  border-radius: 100%;
  display: grid;
  place-content: center;
  transform-origin: bottom right;

  .media-grid__item:hover &,
  .media-grid__image:focus-visible + & {
    transform: scale(1.5833);
  }

  svg {
    height: var(--size-icon);
    width: var(--size-icon);
  }
}
