:root {
  ////////////
  // Colors //
  ////////////
  --color-accent: var(--color-theme-accent, var(--color-blue-medium));
  --color-divider: var(--color-gray-500);

  // prettier-ignore
  --color-cta-primary: var(--color-theme-cta-primary, var(--color-blue-yale));

  // prettier-ignore
  --color-cta-secondary: var(--color-theme-cta-secondary, var(--color-basics-white));

  // prettier-ignore
  --color-pull-quote-accent: var(--color-theme-pull-quote-accent, var(--color-blue-yale));

  ///////////
  // Radii //
  ///////////
  --cta-radius-soft: var(--radius-4);

  /////////////
  // Spacing //
  /////////////
  --spacing-page-inner: var(--size-spacing-7);
  --spacing-page-outer: var(--size-spacing-10);
}
