@use '../../00-tokens/tokens';

$video-background-icon-size: 2rem;
$break-video-banner: tokens.$break-m;
$break-video-banner-max: $break-video-banner - 0.05;

.video-background {
  width: 100%;
  height: 100%;
  position: relative;

  video {
    display: block;
    width: 100%;
  }
}

.video-background__control {
  display: flex;
  align-items: center;
  position: absolute;
  bottom: var(--size-spacing-4);
  right: var(--size-spacing-4);
  border: 0;
  background: transparent;
  padding: var(--size-spacing-3);
  color: inherit;
  z-index: 10;

  [data-grand-hero-overlay-variation='contained'] & {
    @media (max-width: $break-video-banner-max) {
      bottom: var(--size-spacing-6);
      right: 0;
    }
  }

  svg {
    fill: var(--color-basic-white);
    width: $video-background-icon-size;
    height: $video-background-icon-size;

    [data-component-theme='gray-100'] &,
    [data-component-theme='gray-200'] &,
    [data-component-theme='white'] & {
      fill: var(--color-gray-800);
    }
  }

  &::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: var(--color-background);
    opacity: 0.6;
    z-index: -1;
  }

  @media (min-width: $break-video-banner) {
    bottom: var(--size-spacing-7);
    right: var(--size-spacing-7);
  }
}

.video-background__control--play {
  [is-playing='false'] & {
    display: flex;
  }

  [is-playing='true'] & {
    display: none;
  }
}

.video-background__control--pause {
  display: none;

  [is-playing='false'] & {
    display: none;
  }

  [is-playing='true'] & {
    display: flex;
  }
}
