@use '../../../00-tokens/index.scss' as base;
@use '../../../01-atoms/lists/list';

.utility-bar {
  --link-color-base: var(--color-text);
  --utility-bar-gap: var(--size-spacing-7);

  // Color schemes
  [data-component-theme='white'] &,
  [data-component-theme='gray-100'] & {
    --link-color-hover: var(--color-blue-medium);
    --link-styles-no-underline-bg-color: var(--color-blue-medium);
  }

  display: flex;
  flex-wrap: wrap;
  gap: var(--utility-bar-gap);

  // @TODO: double check this font stuff
  font-size: 0.9375rem;
  line-height: 1.475;

  @media (max-width: base.$break-mobile-max) {
    --utility-bar-gap: var(--size-spacing-6);

    flex-direction: column;
  }

  input {
    // @TODO: Temporary styles until the search is 'officially' created
    background: transparent;
    border: none;
    color: inherit;
    font-weight: var(--font-weights-mallory-500);

    &::placeholder {
      color: inherit;

      @media (max-width: base.$break-mobile-max) {
        text-align: center;
      }
    }

    &:hover {
      &::placeholder {
        color: var(--link-color-hover);
      }
    }

    &:focus {
      &::placeholder {
        color: var(--color-gray-300);
        font-style: italic;
      }
    }

    @media (max-width: base.$break-mobile-max) {
      border: 2px solid;
      min-height: 45px;
    }
  }
}

.utility-nav {
  display: flex;
  align-items: center;
}

.utility-nav__menu {
  @include list.reset;

  display: flex;
  flex-wrap: wrap;
  gap: var(--utility-bar-gap);

  @media (max-width: base.$break-mobile-max) {
    width: 100%;
    flex-direction: column;
    align-items: center;
  }
}

.utility-nav__link {
  @include link(no-underline);

  // @TODO: double check this font stuff
  display: block;
}

.utility-nav__button {
  @include button;
}
