@use '../../../01-atoms/lists/list';

.utility-bar {
  display: flex;
  flex-wrap: wrap;
  gap: var(--size-spacing-7);

  // @TODO: double check this font stuff
  font-size: 0.9375rem;
  line-height: 1.475;

  input {
    // @TODO: Temporary styles until the search is 'officially' created
    background: transparent;
    border: none;
    color: inherit;

    &::placeholder {
      color: inherit;
    }
  }
}

.utility-nav {
  display: flex;
  align-items: center;
}

.utility-nav__menu {
  @include list.reset;

  display: flex;
  flex-wrap: wrap;
  gap: var(--size-spacing-7);
}

.utility-nav__link {
  @include link(no-underline);

  // @TODO: double check this font stuff
  display: block;
}

.utility-nav__button {
  @include button;
}
