{% set utility_nav__base_class = 'utility-nav' %}

<div {{ bem('utility-bar') }}>
  {# Menu #}
  {% include "@molecules/menu/menu.twig" with {
    menu__base_class: utility_nav__base_class,
    menu__name: 'Utility',
  } %}
  {# Search #}
  {% if utility_nav__search %}
    <input type="text" placeholder="Search this site">
  {% endif %}
  {# Link #}
  {% if utility_nav__link__content and utility_nav__link__url %}
    {% include "@atoms/buttons/button.twig" with {
      button__content: utility_nav__link__content,
      button__href: utility_nav__link__url,
    } %}
  {% endif %}
</div>
