<header data-main-menu-state="loaded" data-component-width="site" data-site-header-nav-position="left" data-site-header-border-thickness="8" data-header-theme="one" data-header-accent="three" class="site-header">
  <div class="site-header__inner">
    <div class="site-header__menu-wrapper">
      <div class="site-header__menu-secondary site-header__menu-secondary--desktop">
        <div class="site-header__secondary">
          <a data-link-style="underline" data-link-type="internal" class="site-header__yale-branding" href="https://www.yale.edu">Yale University</a>
          <div class="site-header__utility-nav">
            <div class="utility-bar">
              {# Navigation #}
              <nav class="utility-nav" aria-label="Utility" data-menu-variation="basic">
                <ul class="utility-nav__menu utility-nav__menu--level-0">
                  <li class="utility-nav__item utility-nav__item--level-0">
                    <a data-link-style="underline" data-link-type="internal" class="utility-nav__link utility-nav__link--level-0" href="/news">News</a>
                  </li>
                  <li class="utility-nav__item utility-nav__item--level-0">
                    <a data-link-style="underline-with-icon" data-link-type="external" class="utility-nav__link utility-nav__link--level-0 utility-nav__link--with-icon link-purpose link-purpose-external" href="https://www.myworkday.com/yale">
                      <span class="link-purpose-nobreak">Workday<span class="link-purpose-icon link-purpose-external-icon fa-icon fa-solid fa-arrow-up-right fa-fw" aria-hidden="true" title="Link is external"></span>
                        <span class="link-purpose-text">(Link is external)</span>
                      </span>
                    </a>
                  </li>
                  <li class="utility-nav__item utility-nav__item--level-0">
                    <a data-link-style="underline-with-icon" data-link-type="external" class="utility-nav__link utility-nav__link--level-0 utility-nav__link--with-icon link-purpose link-purpose-external" href="https://statusboard.apps.yale.edu/">Yale Status<span class="link-purpose-spacer"></span>
                      <span class="link-purpose-nobreak">Board<span class="link-purpose-icon link-purpose-external-icon fa-icon fa-solid fa-arrow-up-right fa-fw" aria-hidden="true" title="Link is external"></span>
                        <span class="link-purpose-text">(Link is external)</span>
                      </span>
                    </a>
                  </li>
                  <li class="utility-nav__item utility-nav__item--level-0">
                    <a data-link-style="underline" data-link-type="internal" class="utility-nav__link utility-nav__link--level-0" href="/get-help">Get Help</a>
                  </li>
                </ul>
              </nav>
              {# Dropdown #}
              <div class="utility-nav__dropdown" aria-expanded="false" aria-haspopup="true">
                <button data-cta-hover-style="fade" data-cta-radius="pill" data-cta-style="filled" data-cta-outline-weight="2" data-cta-control-type="dropdown" data-cta-theme="none" class="utility-nav__cta" aria-expanded="false">About Operations
                  <svg class="cta__icon">
                    <use xlink:href="icons.svg#angle-down"></use>
                  </svg>
                </button>
                <div class="utility-nav__dropdown-content" aria-hidden="true">
                  <nav class="utility-nav-dropdown" aria-label="Utility Dropdown" data-menu-variation="mega">
                    <ul class="utility-nav-dropdown__menu utility-nav-dropdown__menu--level-0">
                      <li class="utility-nav-dropdown__item utility-nav-dropdown__item--level-0">
                        <a data-link-style="underline" data-link-type="internal" class="utility-nav-dropdown__link utility-nav-dropdown__link--level-0" href="/operations-strategy-initiatives">
                          Our Strategy &amp; Initiatives
                        </a>
                      </li>
                      <li class="utility-nav-dropdown__item utility-nav-dropdown__item--level-0">
                        <a data-link-style="underline" data-link-type="internal" class="utility-nav-dropdown__link utility-nav-dropdown__link--level-0" href="/operations-strategy-initiatives/business-operations">
                          Business Operations
                        </a>
                      </li>
                      <li class="utility-nav-dropdown__item utility-nav-dropdown__item--level-0">
                        <a data-link-style="underline" data-link-type="internal" class="utility-nav-dropdown__link utility-nav-dropdown__link--level-0" href="/operations/administrative-operations">
                          Administrative Operations
                        </a>
                      </li>
                      <li class="utility-nav-dropdown__item utility-nav-dropdown__item--level-0">
                        <a data-link-style="underline" data-link-type="internal" class="utility-nav-dropdown__link utility-nav-dropdown__link--level-0" href="/operations/facilities">
                          Facilities
                        </a>
                      </li>
                      <li class="utility-nav-dropdown__item utility-nav-dropdown__item--level-0">
                        <a data-link-style="underline" data-link-type="internal" class="utility-nav-dropdown__link utility-nav-dropdown__link--level-0" href="/operations/finance">
                          Finance
                        </a>
                      </li>
                      <li class="utility-nav-dropdown__item utility-nav-dropdown__item--level-0">
                        <a data-link-style="underline" data-link-type="internal" class="utility-nav-dropdown__link utility-nav-dropdown__link--level-0" href="/operations/hospitality">
                          Hospitality
                        </a>
                      </li>
                      <li class="utility-nav-dropdown__item utility-nav-dropdown__item--level-0">
                        <a data-link-style="underline" data-link-type="internal" class="utility-nav-dropdown__link utility-nav-dropdown__link--level-0" href="/operations-strategy-initiatives/human-resources">
                          Human Resources
                        </a>
                      </li>
                      <li class="utility-nav-dropdown__item utility-nav-dropdown__item--level-0">
                        <a data-link-style="underline" data-link-type="internal" class="utility-nav-dropdown__link utility-nav-dropdown__link--level-0" href="/operations/information-technology">
                          Information Technology
                        </a>
                      </li>
                      <li class="utility-nav-dropdown__item utility-nav-dropdown__item--level-0">
                        <a data-link-style="underline" data-link-type="internal" class="utility-nav-dropdown__link utility-nav-dropdown__link--level-0" href="/operations/office-of-new-haven-affairs-and-university-properties">
                          Office of New Haven Affairs and University Properties
                        </a>
                      </li>
                      <li class="utility-nav-dropdown__item utility-nav-dropdown__item--level-0">
                        <a data-link-style="underline" data-link-type="internal" class="utility-nav-dropdown__link utility-nav-dropdown__link--level-0" href="/operations/public-safety">
                          Public Safety
                        </a>
                      </li>
                    </ul>
                  </nav>
                </div>
              </div>
              {# Search #}
              <div class="utility-nav__search">
                <form action="/search" class="form--inline" method="get" id="header-search-form-desktop" accept-charset="UTF-8">
                  <div class="form-item form-item-keywords">
                    <label for="edit-keywords--header-search-form-desktop">
                      <svg class="utility-nav__icon utility-nav__icon--search" aria-hidden="true" role="img">
                        <use xlink:href="icons.svg#magnifying-glass"></use>
                      </svg>
                      <span class="visually-hidden">Search</span>
                    </label>
                    <input placeholder="Search this site" type="text" id="edit-keywords--header-search-form-desktop" name="keywords" value="" size="30" maxlength="128" class="form-text">
                  </div>
                  <div class="form-actions form-wrapper" id="edit-actions--header-search-form-desktop">
                    <input class="visually-hidden button form-submit" type="submit" id="edit-submit-search--header-search-form-desktop" value="Search">
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</header>
