@use '~@yalesites-org/tokens/build/scss/tokens';
@use '../functions/map';

$global-themes: map.deep-get(tokens.$tokens, 'global-themes');

@each $globalTheme, $value in $global-themes {
  [data-global-theme='#{$globalTheme}'] {
    --color-slot-one: var(--global-themes-#{$globalTheme}-slots-slot-one);
    --color-slot-two: var(--global-themes-#{$globalTheme}-slots-slot-two);
    --color-slot-three: var(--global-themes-#{$globalTheme}-slots-slot-three);
    --color-slot-four: var(--global-themes-#{$globalTheme}-slots-slot-four);
    --color-slot-five: var(--global-themes-#{$globalTheme}-slots-slot-five);
  }
}
