@use '~@yalesites-org/tokens/build/scss/tokens';
@use '../functions/map';

$global-themes: map.deep-get(tokens.$tokens, 'globalThemes');

@each $globalTheme, $value in $global-themes {
  [data-global-theme='#{$globalTheme}'] {
    --color-slot-one: var(--global-themes-#{$globalTheme}-slot-one);
    --color-slot-two: var(--global-themes-#{$globalTheme}-slot-two);
    --color-slot-three: var(--global-themes-#{$globalTheme}-slot-three);
    --color-slot-four: var(--global-themes-#{$globalTheme}-slot-four);
    --color-slot-five: var(--global-themes-#{$globalTheme}-slot-five);

    color: var(--color-slot-one);
  }
}
