{% set color_global_theme__base_class = 'cl-color-global-themes' %}

{% for globalTheme, value in _context.globalThemes %}
  <div {{ bem(color_pairing__base_class) }} data-global-theme={{ globalTheme }}>
    <h2>Global Theme: {{ globalTheme }}</h2>

    <div class="pairing-item">
      {% include "@molecules/banner/action/yds-action-banner.twig" %}
    </div>

    <p class="text-field">Here's a paragraph with some text. And <a href="#">links can go here</a> too. Isn't that cool? In the Storybook controls you can select component theme variations (one, two, three), where applicable.</p>
  
    <div class="pairing-item">
      {% include "@molecules/quick-links/yds-quick-links.twig" with {
        quick_links__heading: 'Heading for Quick Links',
        quick_links__description: '<p>This is a Quick Links description.</p>',
        quick_links__image: true,
        quick_links__background_color: quick_links__background_color|default('one'),
        quick_links__links:[
          {
            quick_links__link__url: '#',
            quick_links__link__content: 'This is a link',
          },
          { quick_links__link__url: '#',
            quick_links__link__content: 'This is another link',
          },
          { quick_links__link__url: '#',
            quick_links__link__content: 'Link #3',
          },
          { quick_links__link__url: '#',
            quick_links__link__content: 'This is a long link that will wrap lines',
          }
        ]
      }%}
    </div>

    <div class="pairing-item">
      {% include "@molecules/pull-quote/yds-pull-quote.twig" with {
        pull_quote__width: 'max',
        pull_quote__alignment: 'left',
        pull_quote__quote: 'Our platform will transform our ability to study metabolic filaments and, coupled with biochemical and biophysical tools, manipulate enzyme structures and metabolic activity in cells.',
      } %}
    </div>

    <div class="pairing-item">
        {% include "@molecules/callout/yds-callout.twig" with {
      callouts: [
        {
          callout__heading: 'Degree Programs',
          callout__text: 'Designed for those who intend to pursue graduate and those who wish to immediately enter a career in which broad scientific training is beneficial.',
          callout__link__content: 'Programs',
          callout__link__url: '#',
        },
        {
          callout__heading: 'Preference Selection',
          callout__text: 'Preference Selection system is now open and will close again on Monday, January 10, 2022.',
          callout__link__content: 'Select preferences',
          callout__link__url: '#',
        },
      ],
    } %}
    </div>

    <div class="pairing-item">
      {% embed "@organisms/component-wrapper/yds-component-wrapper.twig" %}
        {% block component_wrapper_inner %}
          {% include "@molecules/tabs/yds-tabs.twig" %}
        {% endblock %}
      {% endembed %}
    </div>
  
  </div>
{% endfor %}