{% include "@molecules/callout/yds-callout.twig" with {
    callout__alignment: 'center',
    callouts: [
      {
        callout__heading: 'Degree Programs',
        callout__text: 'Designed for those who intend to pursue graduate and those who wish to immediately enter a career in which broad scientific training is beneficial.',
        callout__link__content: 'Programs',
        callout__link__url: '#',
        callout__width:'site',
      },
      {
        callout__heading: 'Preference Selection',
        callout__text: 'Preference Selection system is now open and will close again on Monday, January 10, 2022.',
        callout__link__content: 'Select preferences',
        callout__link__url: '#',
        callout__width:'site',
      },
    ],
  } %}
      {% include "@molecules/quick-links/yds-quick-links.twig" %}
  {% include "@molecules/text/yds-text-field.twig" with {
      text_field__alignment: 'left',
      text_field__width: 'site',
      text_field__content: '<p>The undergraduate program in Chemistry at Yale reflects the position of chemistry as the foundation of all the molecular sciences. Students are equipped with the technical skills to appreciate the scientific basis for previous discoveries and develop the fundamental expertise required to make future breakthroughs. Under the tutelage of world-leading researchers, students are exposed to a broad range of topics in chemistry. The development of technical skills through lecture classes is complemented with hands-on experience in state-of-the-art chemistry laboratories.</p><p>Many students also perform independent laboratory research under the guidance of a faculty mentor. This rigorous training prepares students for professional careers in a diverse array of fields by teaching them how to apply the scientific method, providing them with skills in quantitative reasoning, and exposing them to scientific research.</p><p>After graduation, students with a B.A. or B.S. degree often pursue work or further studies in chemistry, biochemistry, or health-related disciplines, but also find their broad scientific training beneficial in energy research, policy, environment, business management, and law. As the problems of contemporary society involve ever more complex scientific issues, degree programs in the sciences become increasingly appropriate for students wishing to pursue careers in public policy, government, or public service.</p>',
    } %}

