@use '../../00-tokens/tokens';

.date-time {
  @include tokens.body-oldstyle-nums;

  font-variant-caps: small-caps;
  text-transform: lowercase;
  letter-spacing: 0.5px;

  // Override small-caps for all-day events
  &--all-day {
    font-variant-caps: normal;
    text-transform: none;
  }
}
