:root {
  --font-family-yale-new: 'Yale New', serif;
  --font-family-mallory-compact: 'Mallory Compact', sans-serif;
}

// Yale New
@mixin font-yale-new-roman {
  font-family: var(--font-family-yale-new);
  font-weight: 400;
}

// Mallory Compact

@mixin font-mallory-compact-bold {
  font-family: var(--font-family-mallory-compact);
  font-weight: 700;
}

@mixin font-mallory-compact-medium {
  font-family: var(--font-family-mallory-compact);
  font-weight: 500;
}

@mixin font-mallory-compact-book {
  font-family: var(--font-family-mallory-compact);
  font-weight: 400;
}
