@use '../../01-atoms/atoms';

.social-links__list {
  @include atoms.list-reset;

  display: flex;
  flex-wrap: wrap;
  gap: var(--size-spacing-4);
}

.social-links__link {
  color: var(--color-text);
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: var(--size-click-target-minimum);
  min-width: var(--size-click-target-minimum);
}

.social-links__icon {
  height: 1.5rem;
  width: 1.5rem;
}
