{% set social_links__baseclass = 'social-links' %}

{% set social_links__list__content %}
  {% for icon in icons %}
    {% embed "@atoms/lists/_list-item.twig" with {
      list__item__blockname: social_links__baseclass,
    } %}
      {% block list__item__content %}
        {% include "@molecules/social-links/_social-link__content.twig" %}
      {% endblock %}
    {% endembed %}
  {% endfor %}
{% endset %}

<div {{ bem(social_links__baseclass) }}>
  {% embed "@atoms/lists/list.twig" with {
    list__blockname: social_links__baseclass,
  } %}
    {% block list__content %}
      {{ social_links__list__content }}
    {% endblock %}
  {% endembed %}
</div>
