@use '../../../00-tokens/tokens';

.news-card {
  display: flex;
  flex-flow: column-reverse;
}

.news-card__image {
  margin-bottom: var(--size-spacing-4);
}

.news-card__date {
  @include tokens.body-xs;

  text-transform: uppercase;
  margin-bottom: var(--size-spacing-3);

  [data-card-variation='secondary'] & {
    display: none;
  }
}

.news-card__heading {
  [data-card-variation='featured'] & {
    @include tokens.h4-yale-new;
  }

  [data-card-variation='secondary'] & {
    @include tokens.h5-yale-new;
  }
}

.news-card__snippet {
  margin-top: var(--size-spacing-3);

  [data-card-variation='secondary'] & {
    @include tokens.body-default-condensed;
  }
}
