{#
 # Available Variables:
 # - news_card__date: html datetime. e.g. 2022-03-30 13:00
 # - news_card__heading
 # - news_card__url
 # - news_card__snippet
 # - news_card__featured: boolean (ish... actually just a string. But should be 'true', or 'false'.)
 #
 # Available Blocks:
 # - news_card__image
 #}

{% set news_card__base_class = 'news-card' %}

{% set news_card__date %}
  {% include "@atoms/date-time/date-time.twig" with {
    date_time__start: news_card__date,
  } %}
{% endset %}

{% set news_card__attributes = {
  'data-card-featured': news_card__featured,
  class: bem(news_card__base_class),
} %}


<div {{ add_attributes(news_card__attributes) }}>
  <div {{ bem('content', [], news_card__base_class) }}>
    {% include "@atoms/typography/text/text.twig" with {
      text__base_class: 'date',
      text__blockname: news_card__base_class,
      text__content: news_card__date,
    } %}
    {% include "@atoms/typography/headings/heading.twig" with {
      heading__level: news_card__heading_level|default('2'),
      heading__blockname: news_card__base_class,
      heading: news_card__heading,
      heading__url: news_card__url,
    } %}
    {% include "@atoms/typography/text/text.twig" with {
      text__base_class: 'snippet',
      text__blockname: news_card__base_class,
      text__content: news_card__snippet,
    } %}
  </div>
  <div {{ bem('image', [], news_card__base_class) }}>
    {% block news_card__image %}
      {% include "@atoms/images/image/_responsive-image.twig" %}
    {% endblock %}
  </div>
</div>
