@use '../../00-tokens/tokens';
@use '../../01-atoms/atoms';

.accordion {
  margin-bottom: var(--spacing-page-inner);
}

.accordion-item {
  border-bottom: var(--border-thickness-1) solid;
  padding-block: var(--size-spacing-5);
}

.accordion-item__heading {
  @include tokens.body-l;
}

.accordion-item__expand {
  @include atoms.button-reset;

  display: flex;
  gap: var(--size-spacing-5);
  justify-content: space-between;
  width: 100%;
  padding-right: var(--size-spacing-4);
  text-align: left;

  &[aria-expanded='true'] {
    margin-bottom: var(--size-spacing-5);

    // @TODO: Temporary until the icons are implemented.
    // @LINK: https://yaleits.atlassian.net/browse/YALB-69
    & > span {
      transform: rotate(180deg);
    }
  }
}

.accordion-item__content {
  // padding-inline: var(--size-spacing-11);
}
