@use '../../00-tokens/tokens';
@use '../../01-atoms/atoms';

// The accordion group.
.accordion {
  margin-bottom: var(--spacing-page-inner);
}

.accordion__controls {
  @include atoms.list-reset;
  @include tokens.body-s;

  display: flex;
  gap: var(--size-spacing-7);
}

.accordion__toggle-all {
  all: inherit;
  gap: var(--size-spacing-3);
  align-items: center;

  // This is required because `all: inherit` removes our generic focus styles.
  &:focus {
    @include tokens.focus;
  }

  &:hover {
    color: var(--color-link);
  }
}

.accordion__icon {
  height: 1em;
  width: 1em;

  .accordion__toggle-all--collapse & {
    transform: rotate(180deg);
  }
}

// Individual accordion items.
.accordion-item {
  border-bottom: var(--border-thickness-1) solid;
  padding-block: var(--size-spacing-5);
}

.accordion-item__heading {
  @include tokens.body-l;
}

.accordion-item__expand {
  @include atoms.button-reset;

  display: flex;
  gap: var(--size-spacing-5);
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding-right: var(--size-spacing-4);
  text-align: left;

  &:hover {
    color: var(--color-link);
  }
}

.accordion-item__icon {
  height: 1em;
  width: 1em;

  [aria-expanded='true'] > & {
    transform: rotate(180deg);
  }
}

.accordion-item__content {
  margin-block: var(--size-spacing-6) var(--size-spacing-5);

  @media (max-width: tokens.$break-mobile-max) {
    padding-inline: var(--size-spacing-6);
  }

  @media (min-width: tokens.$break-mobile) {
    padding-inline: var(--size-spacing-8);
  }
}
