{% set accordion__base_class = 'accordion' %}

<div {{ bem(accordion__base_class) }}>
  {% for item in accordion__items %}
    {% include "@molecules/accordion/_accordion-item.twig" with {
      accordion__item__heading: item.accordion__item__heading,
      accordion__item__content: item.accordion__item__content,
    } %}
  {% endfor %}
</div>
