@use '../../00-tokens/tokens';

table {
  @include tokens.body-s-condensed;

  width: 100%;
  max-width: 100%;
  overflow: hidden;
  caption-side: bottom;
  border-collapse: collapse;
  text-align: left;

  --header-cell-border: var(--color-gray-700);
  --header-row-border: var(--color-gray-300);
  --header-cell-bg: var(--color-gray-200);
  --header-row-bg: var(--color-gray-200);

  --table-header-row-bg: var(--color-gray-200);
  --table-header-row-fg: var(--color-gray-800);

  --table-cell-row-bg: var(--color-basic-white);
  --table-cell-row-fg: var(--table-header-row-fg);
  --table-cell-row-bg-alt: var(--color-gray-100);

  tr {
    background-color: var(--table-cell-row-bg);

    &:nth-child(odd) {
      background-color: var(--table-cell-row-bg-alt);
    }

    &:last-child td, thead &:first-of-type th, tbody &:last-child th {
      border-bottom: var(--size-thickness-2) solid var(--header-cell-border);
    }

    tbody & {
      &:first-of-type td {
        border-bottom: none;
      }
    }
  }

  th {
    background-color: var(--header-cell-bg);
    padding: var(--size-spacing-3) var(--size-spacing-5);
    font-weight: var(--font-weights-mallory-medium);
    border: none;
    position: sticky;
    color: inherit;

    thead & {
      top: 0;
      border-bottom: var(--size-thickness-2) solid var(--header-cell-border);
    }

    tbody tr & {
      left: -1px;
      border-bottom: none;
      &::after {
        content: '';
        position: absolute;
        bottom: -1px;
        left: 0;
        right: 0;
        height: var(--size-thickness-1);
        background-color: var(--header-cell-border);
      }

      &::before {
        content: '';
        position: absolute;
        bottom: -1px;
        right: -1px;
        width: var(--size-thickness-2);
        height: calc(100% + #{var(--size-thickness-2)});
        background-color: var(--header-cell-border);
      }
    }
  }

  td {
    padding: var(--size-spacing-3) var(--size-spacing-5);
    font-weight: var(--font-weights-mallory-compact);
    border: var(--size-thickness-1) solid var(--header-row-border);
    min-width: 8rem;

    &:first-child {
      border-left: none;
    }

    &:last-child {
      border-right: none;
    }
  }

  .table-wrapper {
    overflow-x: auto;
  }

  table caption {
    text-align: left;
    margin-top: var(--size-spacing-4);
  }
}
