@use '../../00-tokens/tokens';
@use '../../01-atoms/atoms';

.link-group {
  .site-footer__columns-inner & {
    grid-area: top;
  }
}

.link-group__inner {
  --color-link-group-border: var(--color-gray-700);

  display: flex;
  flex-wrap: wrap;
  width: 100%;

  @media (max-width: tokens.$break-m) {
    display: grid;
    grid-template:
      'header-one'
      'links-one'
      'header-two'
      'links-two'
      / 1fr;
  }

  // if used in the footer, set border color to site-footer theme color
  .site-footer & {
    --color-link-group-border: var(--color-site-footer-border-color);
  }
}

.link-group__text {
  grid-area: header;
}

.link-group__heading {
  @include tokens.h6-mallory-compact-medium;

  border-left: var(--thickness-divider) solid var(--color-link-group-border);
  padding: 0 var(--size-spacing-6) var(--size-spacing-3);

  &--one {
    grid-area: header-one;
    flex: 1 0 100%;
  }

  &--two {
    grid-area: header-two;
  }

  // if two heading set basis to 50%;
  &--two-headings {
    flex: 1 0 50%;
  }
}

.link-group__links-column {
  @include atoms.list-reset;

  width: 100%;
  border-left: var(--thickness-divider) solid var(--color-link-group-border);
  margin-bottom: var(--size-spacing-7);

  &--one {
    grid-area: links-one;
  }

  &--two {
    grid-area: links-two;
  }

  @media (min-width: tokens.$break-m) {
    flex: 0 0 50%;
  }
}

.link-group__cta {
  @include atoms.cta;

  display: block;
  text-align: left;
  line-height: 1.2;
}
