{#
 # Available variables:
 # - text_with_video__heading
 # - text_with_video__text
 #
 # Available blocks:
 # - text_with_video__video
 #}

{% set text_with_video__base_class = 'text-with-video' %}

<div>
  <div {{ bem('video', [], text_with_video__base_class) }}>
    {% block text_with_video__video %}
      {% include "@atoms/video/video.twig" %}
    {% endblock %}
  </div>
  <div>
    {# Heading #}
    {% include "@atoms/typography/headings/yds-heading.twig" with {
      heading: text_with_video__heading,
      heading__level: '1',
      heading__blockname: text_with_video__base_class,
    } %}
    {# Text #}
    {% include "@atoms/typography/text/yds-text.twig" with {
      text__content: text_with_video__text,
      text__blockname: text_with_video__base_class,
    } %}
  </div>
</div>
