p {
  margin-block-end: var(--font-spacing-paragraph);
}

.text {
  p:last-child {
    margin-bottom: 0;
  }

  // Code blocks.
  pre code {
    display: block;
    padding: var(--size-spacing-3);
  }
}

strong {
  font-weight: var(--font-weights-mallory-medium);
}
