p {
  margin-block-end: var(--font-spacing-paragraph);
}

.text {
  p:last-child {
    margin-bottom: 0;
  }

  pre code {
    display: block;
    padding: 20px;
  }
}

strong {
  font-weight: var(--font-weights-mallory-medium);
}
