{#
 # Available variables:
 # - list__item__content - the content of the list_item (typically text)
 #
 # Available blocks:
 # - list__item__content - used to replace the content of the list_item with something other than text
 #   for example: to insert the image and/or link components
 #}
{% set list__base_class = list__base_class|default('list-item') %}

<li {{ bem(list__base_class, list__modifiers, list__blockname) }}>
  {% block list__item__content %}
    {{ list__item__content }}
  {% endblock %}
</li>
