<form id="contact-form">
  <fieldset class="form-fieldset">
    <legend class="heading-2">Contact form</legend>
    <div class="form-item">
      <label for="edit-name" class="form-item__label form-item__label--required form-item__label--textfield">Name</label>
      <input id="edit-name" autocorrect="none" autocapitalize="none" spellcheck="false" type="text" name="name" value="" size="60" maxlength="60" class="form-item__textfield form-item__textfield--required" required="required" aria-required="true" placeholder="First, Middle, Last">
    </div>
    <div class="form-item">
      <label for="emailaddress" class="form-item__label form-item__label--required form-item__label--textfield">Email Address</label>
      <input id="emailaddress" required="required" aria-required="true" type="email" class="form-item__textfield form-item__textfield--required" placeholder="name@email.com">
    </div>
    <div class="form-item">
      <label for="textarea" class="form-item__label form-item__label--required form-item__label--textfield">Textarea</label>
      <textarea id="textarea" required="required" aria-required="true" class="form-item__textfield form-item__textarea form-item__textfield--required"  rows="8" cols="48" placeholder="Enter your message here"></textarea>
    </div>
    <div class="form-item form-actions">
      <button data-cta-hover-style="fade" data-cta-radius="pill" data-cta-style="filled" data-cta-outline-weight="2" href="#" class="cta" type="submit" form="contact-form" value="Submit">Submit</button>
    </div>
  </fieldset>
 </form>