{% set secondary_menu_toggle__base_class = 'secodary-menu-toggle' %}

{% set menu_toggle__content %}
  <span {{ bem('text', [], secondary_menu_toggle__base_class) }}>In This Section</span>
{% endset %}

{% include "@atoms/controls/base/yds-control.twig" with {
  control__base_class: secondary_menu_toggle__base_class,
  control__blockname: secondary_menu_toggle__blockname,
  aria_expanded: 'false',
  control__content: menu_toggle__content
} %}
