{#
 # Available Variables:
 # - stats__heading
 # - stats__bg_image: (boolean) false by default

 # Available Blocks:
 # - stats__cards
 #}

{% set stats__base_class = 'stats' %}

{% set stats__width = stats__width|default('site') %}

{% if stats__collection__type %}
  {% set stats__attributes = stats__attributes|merge({
    'data-stat-collection-type': stats__collection__type,
  }) %}
{% endif %}

{% set stats__attributes = {
  'data-component-width': stats__width,
  'data-stat-style': stats__presentation_style|default('basic'),
  'data-stat-font-style': stats__font_style|default('normal'),
  'data-stat-has-icon': stats__item__has_icon == 'true' ? 'true' : 'false',
  'data-component-alignment': stats__alignment|default('center'),
	'data-component-theme': stats__theme|default('one'),
  'class': bem(stats__base_class),
} %}

<div {{ add_attributes(stats__attributes) }}>
  {% block prefix_suffix %}
  {% endblock %}
  <div {{ bem('inner', [], stats__base_class) }}>
      <ul {{ bem('wrap', [], stats__base_class) }}>
        {% block stats__items %}
          {% for stat in stats %}
          {# Set stat attributes based on stats attributes so all stat items within that stats group are consistent #}
          {# stats__theme: 'default' is set to default as the theme is set on the stats component, we don't want the individual stat to have a bg color #}
            {% include "@molecules/stats-item/yds-stats-item.twig" with {
              stats__item__number: stat.stats__item__number,
              stats__item__content: stat.stats__item__content,
              stats__item__has_icon: stats__item__has_icon,
              stats__item__alignment: stats__alignment,
              stats__item__presentation_style: stats__presentation_style,
              stats__item__theme: 'default',
              }
            %}
          {% endfor %}
        {% endblock %}
      </ul>
    {% if stats__bg_image %}
      <div {{ bem('image', [], stats__base_class) }}>
        {% block stats__image %}
          {% include "@atoms/images/image/_responsive-image.twig" %}
        {% endblock %}
      </div>
    {% endif %}
  </div>
</div>
