@use '../../../00-tokens/tokens';
@use '../../../01-atoms/atoms';

$break-grand-hero-banner: tokens.$break-m;

.grand-hero-banner {
  position: relative;
  overflow: hidden;
  min-height: 30rem;
  display: grid;
  align-items: end;

  @media (min-width: $break-grand-hero-banner) {
    align-items: center;
  }

  [data-grand-hero-overlay-variation='contained'] & {
    justify-content: start;
    padding-bottom: var(--size-spacing-6);

    @media (min-width: $break-grand-hero-banner) {
      padding-bottom: 0;
    }
  }
}

.grand-hero-banner__image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  img {
    object-fit: cover;
    height: 100%;
    width: 100%;
  }
}

.grand-hero-banner__content {
  position: relative;
  opacity: 0.6;
  padding: var(--size-spacing-5) var(--size-spacing-7);

  [data-grand-hero-overlay-variation='contained'] & {
    @media (min-width: $break-grand-hero-banner) {
      max-width: var(--size-component-layout-width-content);
      margin: var(--size-spacing-site-gutter);
    }
  }

  [data-grand-hero-overlay-variation='full'] & {
    height: 100%;
    display: flex;
    align-items: center;
  }
}

.grand-hero-banner__content-inner {
  display: grid;
  gap: var(--size-spacing-3);
}

.grand-hero-banner__snippet {
  p:last-child {
    margin-bottom: 0;
  }
}

.grand-hero-banner__heading {
  @include tokens.h2-yale-new;
}

.grand-hero-banner__link {
  @include atoms.link;

  width: fit-content;
}
