{% extends "@page-layouts/full-width.twig" %}
  {% block page__content %}
    {% include "@organisms/menu/breadcrumbs/breadcrumbs.twig" %}
    {% include "@molecules/page-title/page-title.twig" %}
    {% include "@page-examples/_intro-content-examples.twig" %}
    {% include "@molecules/text/text-field.twig" with {
      text_field__content: '<p>At Yale Divinity School, students immerse themselves in a challenging academic environment where they analyze contemporary issues in the light of a long tradition of theological reflection. Working with an internationally recognized faculty, Divinity School students learn to write clearly, research independently, listen critically, and manage time effectively—all while enjoying the academic and other benefits of being part of <a href="http://www.yale.edu" rel="nofollow" class="ext" target="_blank">one of the world’s best universities</a>.</p>',
    } %}

    {% include "@molecules/accordion/accordion.twig" with {
      accordion__heading: 'Starting at YDS',
      accordion__items: [
        {
          accordion__item__heading: accordion__item__heading,
          accordion__item__content: accordion__item__content
        },
        {
          accordion__item__heading: 'What is my SID? Is it the same as my net id?',
          accordion__item__content: '<p>Your “SID” is your student identification number. It is the unique 9-digit number, beginning with the number 9, found on the lower left-hand corner of your ID card. You will also see it in other Yale sites that identify you as a student and in your student records (like your transcript). It is different from your net ID, which is used primarily in concert with your password to access secure Yale sites. If you have a problem that requires tech support from the Help Center, they will most likely want your net ID. But the forms used for enrollment/registration purposes will ask you for your SID since that is the easiest way for us to access your student record.</p>'
        },
        {
          accordion__item__heading: 'How do I know who my adviser is? Do I contact my adviser or will they contact me? Can I change my adviser?',
          accordion__item__content: '<p>Adviser assignments are made in the summer and posted at the beginning of Fall Orientation. You can also view your adviser information in your <a href="https://yub.yale.edu/" class="ext" target="_blank">Yale Hub page</a>. Advisers will have access to your information in mid-August. There will be an opportunity to meet with your adviser during BTFO. Some advisers may reach out to advisees before they arrive on campus; others will look forward to meeting you when you arrive for BTFO and will encourage you to make an appointment for the initial meeting. There is no YDS standard for that first contact so don’t be concerned if you hear that some students have heard from their adviser and you have not.</p>'
        },
        {
          accordion__item__heading: 'How do I know which courses to take?',
          accordion__item__content: '<p>Your adviser will be very helpful in guiding you in your course selection. There are also <a href="https://divinity.yale.edu/directory/offices/office-academic-affairs/students">course planning worksheets</a> available for each degree as well as a course “grid” for the MDiv degree. The MDiv “grid” sketches out a suggested 3-year course plan which many students find helpful. The MDiv degree does require certain specific courses, and sometimes they need to be taken in a certain order, but there is no requirement that a given course be taken in a specific semester or year.</p>'
        },
      ]
    } %}

    {% include "@molecules/accordion/accordion.twig" with {
      accordion__heading: 'Registration, Enrollment, and Billing',
      accordion__items: [
        {
          accordion__item__heading: 'I’ve heard that “there’s a form for that”. How do I find the forms?',
          accordion__item__content: '<p>There is indeed a form for nearly all of the academic-related things at YDS. All of the forms related to enrollment can be found in the <a href="https://divinity.yale.edu/directory/offices/registrars-office/downloadable-forms">Forms section</a> of our website. Degree worksheets and some forms to request funding for academic projects can be found on the <a href="https://divinity.yale.edu/directory/offices/office-academic-affairs/students">Academic Affairs website</a>.</p>'
        },
        {
          accordion__item__heading: 'What is the typical number of credits that YDS students take per term? Is there a maximum? Is there a minimum?',
          accordion__item__content: '<p>YDS students typically take 12 credits per term, which is the number of credits needed to complete each degree in the typical time period (three years for the MDiv, two for the MAR, and one for the STM). But YDS recognizes the need for flexible enrollment, and students often take fewer or more than 12 credits per term. There is no published “maximum”, but permission of the Academic Dean is needed for enrollment in over 16.5 credits. The minimum number of credits needed for residency is 3 credits, which must include at least one 3-credit course that meets on campus on a regular basis throughout the term. Students in their first term are strongly discouraged from registering for more than 14 credit hours.</p>'
        },
        {
          accordion__item__heading: 'How do I take a course somewhere else at Yale?',
          accordion__item__content: '<p>YDS’ shortcut name for other parts of Yale is “downtown”. If you wish to take a downtown course, e.g. any course without an REL course number, first do the research and make sure the course enrollment is open to students outside of the school or program offering the course. If it is, use the <a href="https://divinity.yale.edu/directory/offices/registrars-office/downloadable-forms">“Downtown Permission Form”</a> to request enrollment in the course. For undergraduate courses you will need to make an arrangement with the instructor to do additional work in order to bring the course to graduate level standards. The form requires that the instructor describe that work so that your enrollment can be approved by the Academic Dean. Undergraduate courses which are language- or skills-based courses (for instance, studio arts) do not require additional work.</p>'
        },
        {
          accordion__item__heading: 'I’d like to take “secondary lessons” at the School of Music. How do I do that?',
          accordion__item__content: '<p>The School of Music offers individual instruction in a variety of instruments. The ISM generously agrees to pay the $200 lesson fee, but if you intend to apply the credits from lessons to your degree as elective credit you may be charged tuition (this mostly applies to part-time students). To request lessons, you must complete the School of Music <a href="https://music.yale.edu/music-lessons-program-request-form" class="ext" target="_blank">Music Lessons Request Form</a> and register for the course in OCS along with your other courses. Since we generally receive one list from the Music School with the names of all those approved for lessons, it is not necessary to initiate a Downtown Course permission form for secondary lessons.</p>'
        },
        {
          accordion__item__heading: 'How do I take a course at the Law School?',
          accordion__item__content: '<p>Not all Yale Law School courses are open to non-Law students, but the ones which are available will be so noted on the <a href="https://courses.law.yale.edu/" class="ext" target="_blank">Law School’s course listing<span class="ext"><span class="element-invisible"> (link is external)</span></span></a>. Enrollment in Law School courses by non-Law School Yale students requires permission of the Law School Registrar. More information, as well as the request form, can be found on the Law School’s website <a href="https://law.yale.edu/about-yale-law-school/offices-services/registrar/course-registration" class="ext" target="_blank">here</a>. Since you may not be able to add the Law course to your registration in OCS, you will also need to complete the YDS <a href="https://divinity.yale.edu/directory/offices/registrars-office/downloadable-forms">Change in Course form</a>. When our office has received confirmation from the Law school that you may enroll, we will use the Change in Course form to add the course to your registration.</p>'
        },
      ]
    } %}
  {% endblock %}
