{% extends "@page-layouts/full-width.twig" %}
  {% block page__content %}
    {% include "@organisms/menu/breadcrumbs/breadcrumbs.twig" %}
    {% include "@molecules/page-title/page-title.twig" %}
    {% include "@page-examples/_intro-content-examples.twig" %}
    {% include "@molecules/text/text-field.twig" with {
      text_field__content: '<p>Yale Divinity School welcomes applications from applicants all over the world who have earned a baccalaureate degree from an accredited national and international college or university. 

Applicants to Yale Divinity School programs are evaluated on the basis of academic ability and potential to do graduate study work; leadership qualities; spiritual maturity;  interpersonal communication skills; seriousness of purpose; personal initiative; and creativity.

The YDS admissions application is an online process and all applications are submitted through the YDS Admissions Office.</p>',
    } %}
    {% include "@molecules/accordion/accordion.twig" with {
      accordion__items: [
        {
          accordion__item__heading: accordion__item__heading,
          accordion__item__content: accordion__item__content
        },
        {
          accordion__item__heading: 'Books',
          accordion__item__content: accordion__item__content
        },
        {
          accordion__item__heading: 'Courses',
          accordion__item__content: accordion__item__content
        },
        {
          accordion__item__heading: 'Events',
          accordion__item__content: accordion__item__content
        },
      ]
    } %}
    {% include "@molecules/text/text-field.twig" with {
      text_field__content: '<p>The undergraduate program in Chemistry at Yale reflects the position of chemistry as the foundation of all the molecular sciences. Students are equipped with the technical skills to appreciate the scientific basis for previous discoveries and develop the fundamental expertise required to make future breakthroughs. Under the tutelage of world-leading researchers, students are exposed to a broad range of topics in chemistry. The development of technical skills through lecture classes is complemented with hands-on experience in state-of-the-art chemistry laboratories.</p><p>Many students also perform independent laboratory research under the guidance of a faculty mentor. This rigorous training prepares students for professional careers in a diverse array of fields by teaching them how to apply the scientific method, providing them with skills in quantitative reasoning, and exposing them to scientific research.</p><p>After graduation, students with a B.A. or B.S. degree often pursue work or further studies in chemistry, biochemistry, or health-related disciplines, but also find their broad scientific training beneficial in energy research, policy, environment, business management, and law. As the problems of contemporary society involve ever more complex scientific issues, degree programs in the sciences become increasingly appropriate for students wishing to pursue careers in public policy, government, or public service.</p>',
    } %}
    {% include "@molecules/accordion/accordion.twig" with {
      accordion__heading: 'Another Accordion Group',
      accordion__items: [
        {
          accordion__item__heading: 'Catalog',
          accordion__item__content: accordion__item__content
        },
        {
          accordion__item__heading: 'Admissions',
          accordion__item__content: accordion__item__content
        },
        {
          accordion__item__heading: 'Financial Aid',
          accordion__item__content: accordion__item__content
        },
        {
          accordion__item__heading: 'Application Process',
          accordion__item__content: accordion__item__content
        },
      ]
    } %}
  {% endblock %}
