{% set basic_meta_sharing__base_class = 'basic-meta-with-sharing' %}

<div {{ bem(basic_meta_sharing__base_class) }}>
	<div {{ bem('inner', [], basic_meta_sharing__base_class) }}>

    {% include "@atoms/typography/text/yds-text.twig" with {
      text__content: basic_meta_with_sharing,
      text__base_class: 'basic-meta-with-sharing',
    } %}

    {% block social_links %}
      {% include "@molecules/social-links/yds-social-links.twig" %}
    {% endblock %}
  </div>
</div>
