{#
 # Available Variables:
 # - emphasized_text__content
 #}

{% set emphasized_text__base_class = emphasized_text__base_class|default('emphasized-text') %}

{% set emphasized_text__attributes = {
  'data-component-width': emphasized_text__width|default('site'),
  'data-component-alignment': emphasized_text__alignment|default('center'),
  class: bem(emphasized_text__base_class, emphasized_text__modifiers, emphasized_text__blockname, emphasized_text__extra_classes),
} %}

<div {{ add_attributes(emphasized_text__attributes) }}>
  {% block prefix_suffix %}
  {% endblock %}
  <div {{ bem('inner', [], emphasized_text__base_class) }}>
    {% include "@atoms/typography/text/yds-text.twig" with {
      text__content: emphasized_text__content,
      text__base_class: 'text',
      text__blockname: emphasized_text__base_class,
    } %}
  </div>
</div>
