@use '../../00-tokens/tokens';

.page-title {
  margin-bottom: var(--spacing-page-inner);
}

.page-title__heading {
  @include tokens.h1-yale-new;
}

.page-title__meta {
  @include tokens.body-default-condensed;

  color: var(--color-gray-600);
  margin-top: var(--size-spacing-4);

  @media (max-width: tokens.$break-mobile-max) {
    display: flex;
    flex-direction: column;
  }

  @media (min-width: tokens.$break-mobile) {
    > *:not(:first-child) {
      margin-left: var(--size-spacing-4);
      padding-left: var(--size-spacing-4);
      border-left: var(--border-thickness-1) solid;
    }
  }
}
