@use '../../00-tokens/tokens';

.page-title {
  margin-bottom: var(--spacing-page-inner);
}

.page-title__heading {
  @include tokens.h1-yale-new;
}

.page-title__meta {
  @include tokens.body-default-condensed;

  color: var(--color-gray-600);
  margin-top: var(--size-spacing-4);
}
