@use '../../../00-tokens/tokens';

.filter-items--inline-desktop {
  display: flex;
  gap: 1.5rem;
  flex-direction: column;

  @media (min-width: tokens.$break-l) {
    flex-direction: row;
    align-items: flex-end;
    gap: 1.125rem;

    &.filter-items--1 {
      .form-item {
        max-width: 50%;
      }
    }
  }

  .form-item__label {
    font-size: 0.9375rem;
    font-weight: 700;
    margin-bottom: 1rem;

    @media (min-width: tokens.$break-l) {
      margin-bottom: 0.75rem;
    }
  }

  .form-item {
    flex-grow: 1;
    flex-basis: 0;
    margin-bottom: 0;
    max-width: none;
  }

  .form-item-search {
    position: relative;

    .form-text {
      padding-right: var(--size-spacing-8);
      height: 3.125rem;
    }

    .form-item__icon {
      position: absolute;
      right: 0.625rem;
      height: 1.25rem;
      width: 1.25rem;
      top: 100%;
      margin-top: -2.1875rem;
    }
  }

  .form-item__select {
    min-width: auto;
  }

  .form-item__dropdown {
    height: 3.125rem;
  }

  .button {
    font-size: 1rem;
    letter-spacing: 1px;
    padding-inline: 2rem;
    width: auto;

    @media (min-width: tokens.$break-l) {
      font-size: 1.125rem;
    }
  }

  //  TODO: Remove temporary Chosen Styles
  .chosen-container {
    .chosen-choices {
      border: 0;
      padding: 0;
    }

    .chosen-drop {
      left: -2px;
      top: 49px;
      width: calc(100% + 4px);
    }

    .chosen-results {
      margin: 0;
      padding: 0;

      li {
        padding: 14px 10px;
        display: flex;
        position: relative;
        border-bottom: 1px solid #5e5e5e;
        border-radius: 0;

        &::before {
          content: '';
          display: block;
          border: 1px solid #5e5e5e;
          width: 20px;
          height: 20px;
          margin-right: 1rem;
        }

        &:last-of-type {
          border-bottom: 0;
        }
      }

      li.active-result,
      li.result-selected {
        display: flex;
      }

      .result-selected {
        color: black;

        &::before {
          background-color: #00356b;
        }

        &::after {
          content: '';
          display: block;
          width: 7px;
          height: 11px;
          color: white;
          position: absolute;
          top: 16px;
          left: 16px;
          border-bottom: 2px solid white;
          border-right: 2px solid white;
          transform: rotate(45deg);
        }
      }
    }
  }
}
