@use '~@yalesites-org/tokens/build/scss/tokens';
@use '../../00-tokens/functions/map';
@use '../../00-tokens/typography/typography';
@use '../../01-atoms/links/link';

$site-footer-border-thickness: map.deep-get(tokens.$tokens, border, thickness);

.site-footer {
  padding: var(--size-spacing-7) var(--size-spacing-8);
  border-top: var(--site-footer-border-thickness) solid var(--color-blue-yale);

  // Border top thickness
  @each $thickness, $value in $site-footer-border-thickness {
    &[data-site-footer-border-thickness='#{$thickness}'] {
      --site-footer-border-thickness: var(--border-thickness-#{$thickness});
    }
  }
}

.site-footer__inner {
  display: flex;
  flex-direction: column;
  gap: var(--size-spacing-7);
}

.site-footer__primary {
  display: flex;
  flex-wrap: wrap;
  gap: var(--size-spacing-6);
  justify-content: space-between;
}

.site-footer__secondary {
  display: flex;
  flex-flow: row-reverse wrap;
  gap: var(--size-spacing-6);
  justify-content: space-between;
  align-items: flex-end;
}

.site-footer__branding {
  display: flex;
  flex-direction: column;
  gap: var(--size-spacing-3);
}

.site-footer__meta {
  @include typography.body-xs;

  a {
    @include link.link;
  }
}
