@use '../../01-atoms/atoms';
@use '../../00-tokens/tokens';

.search-result {
  @include atoms.clickable-component-heading-link;

  border-bottom: 1px solid var(--color-gray-300);

  .search-result__highlighted,
  .search-result__teaser {
    margin: var(--size-spacing-5) 0;
  }

  .search-result__teaser {
    color: var(--color-gray-600);
  }
  @media (min-width: tokens.$break-mobile-max) {
    max-width: var(--size-component-layout-width-content);
  }
}
