@use '../../../00-tokens/tokens';
@use '../../../01-atoms/atoms';

$event-meta-borders-max: tokens.$break-l - 0.5;

.event-meta {
  color: var(--color-basic-brown-gray);
}

.event-meta__date {
  @include tokens.h3-mallory-compact-book;
}

.event-meta__details {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: var(--size-spacing-6);

  @media (min-width: tokens.$break-mobile) {
    flex-direction: row;
    align-items: center;
  }

  [data-event-meta-style='localist'] & {
    margin-top: var(--size-spacing-6);
    margin-bottom: var(--size-spacing-6);
  }
}

.event-meta__ctas {
  display: flex;
  flex-wrap: wrap;
  gap: var(--size-spacing-6);
}

.event-meta__address {
  color: var(--color-text);
}

.event-meta__format {
  color: var(--color-text);
}

.event-meta__past-event {
  margin-top: var(--size-spacing-7);
}

// Inner
.event-meta__inner {
  &:not(.event-meta__inner--localist) {
    > * {
      border-bottom: var(--border-thickness-1) solid var(--color-divider);
      padding-block-start: var(--size-spacing-6);
      padding-block-end: var(--size-spacing-6);
    }
  }

  [data-event-meta-style='localist'] & {
    > *:not(.event-meta__details-wrapper) {
      padding-block-start: var(--size-spacing-6);
      padding-block-end: var(--size-spacing-6);
    }

    .event-meta__details-wrapper {
      display: grid;
      grid-template-columns: 1fr;
      border-top: var(--border-thickness-1) solid var(--color-divider);

      @media (min-width: tokens.$break-l) {
        grid-template-columns: repeat(3, 1fr);
      }

      > * {
        position: relative;
        padding: var(--size-spacing-6);

        @media (max-width: $event-meta-borders-max) {
          border-bottom: var(--border-thickness-1) solid var(--color-divider);
        }

        // border-bottom to first three items only
        @media (min-width: tokens.$break-l) {
          border-bottom: var(--border-thickness-1) solid var(--color-divider);

          &:not(:nth-child(3n)):not(.event-meta__location-wrapper) {
            &::after {
              content: '';
              border-right: var(--border-thickness-1) solid
                var(--color-gray-200);
              position: absolute;
              right: 0;
              top: var(--size-spacing-6);
              bottom: var(--size-spacing-6);
              height: calc(100% - var(--size-spacing-6) * 2);
            }
          }
        }
      }

      // make the location wrapper span all columns
      .event-meta__location-wrapper {
        @media (min-width: tokens.$break-l) {
          grid-column: 1/-1;
          border-bottom: var(--border-thickness-1) solid var(--color-divider);
        }
      }

      .event-meta__event-topics-wrapper {
        @media (min-width: tokens.$break-l) {
          grid-column: auto / span 2;
        }
      }
    }
  }
}

// localist

// cost
.event-meta__cost {
  display: flex;
  flex-direction: column;
}

// all event meta labels
.event-meta__event__label {
  @include tokens.body-s;

  font-weight: var(--font-weights-yalenew-bold);
  color: var(--color-gray-800);
}

// event types
.event-meta__event-types {
  @include atoms.list-reset;

  display: flex;
  flex-flow: row wrap;
  gap: var(--size-spacing-3);
}

.event-meta__event-types__type {
  flex: 1 1 auto;
  background-color: var(--color-gray-100);
}

.event-meta__event-types__type a {
  @include atoms.plain-link;
  @include tokens.body-s;

  display: block;
  padding: var(--size-spacing-3);
  text-align: center;
  color: var(--color-text);
}

// overline for 'online', 'in-person', or `hybrid`
.event-meta__overline-wrap {
  display: flex;
  align-items: center;
  gap: var(--size-spacing-3);
  width: 100%;
}

.event-meta__format--overline {
  @include tokens.body-s;

  margin-top: 0;
  margin-bottom: var(--size-spacing-3);
  color: var(--color-gray-500);
  font-variant-caps: small-caps;
  font-variant-numeric: oldstyle-nums;
  text-transform: lowercase;
  letter-spacing: 0.5px;
  flex: 0 auto;
}

// website link field
.event-meta__event-website-link a {
  @include atoms.plain-link;
  @include tokens.body-s;
}

// multiple dates
.event-meta__multiple-dates {
  @include atoms.list-reset;

  display: flex;
  flex-direction: column;
  gap: var(--size-spacing-6);
  background-color: var(--color-gray-100);
  padding: var(--size-spacing-3);
  color: var(--color-gray-800);
  margin-top: var(--size-spacing-3);

  &[aria-expanded='false'] {
    display: none;
  }
}

// More dates
.event-meta__more-dates-link {
  display: flex;
  align-items: center;
  gap: var(--size-spacing-3);
}

.event-meta__more-dates-link a {
  @include atoms.plain-link;
  @include tokens.body-default;

  display: flex;
  align-items: center;
  gap: var(--size-spacing-3);
}

.event-meta__icon--show-more-dates {
  display: flex;
  align-items: center;
  gap: var(--size-spacing-3);

  [aria-expanded='true'] & {
    display: none;
  }
}

.event-meta__cta--show-more-dates svg {
  width: var(--size-spacing-6);
  height: var(--size-spacing-6);
}

.event-meta__icon--hide-more-dates {
  display: none;

  [aria-expanded='true'] & {
    display: flex;
    align-items: center;
    gap: var(--size-spacing-3);
  }
}

// map
.event-meta__map {
  display: flex;
  flex-direction: column;
  gap: var(--size-spacing-6);
  padding-top: var(--size-spacing-6);

  &[aria-expanded='false'] {
    display: none;
  }

  iframe {
    border: none;
    width: 100%;
  }
}

.event-meta__icon {
  display: flex;
  align-items: center;
  gap: var(--size-spacing-3);
}

.event-meta__event-show-map a {
  @include atoms.plain-link;
  @include tokens.body-default;
}

.event-meta__cta--show-map svg {
  width: var(--size-spacing-6);
  height: var(--size-spacing-6);
}

.event-meta__icon--hide-map svg {
  transform: rotate(180deg);
}

.event-meta__icon--show-map {
  [aria-expanded='true'] & {
    display: none;
  }
}

.event-meta__icon--hide-map {
  display: none;

  [aria-expanded='true'] & {
    display: flex;
    align-items: center;
    gap: var(--size-spacing-3);
  }
}

// directions
.event-meta__directions-link {
  @include atoms.plain-link;
  @include tokens.body-default;
}

// WYSIWYG description text
.event-meta__description {
  @include tokens.body-default;
}

// Audience
.event-meta__audience {
  @include tokens.body-default;

  margin-top: 0;
  color: var(--color-gray-500);
}

// event topics
.event-meta__event-topics {
  @include atoms.list-reset;

  display: flex;
  flex-flow: row wrap;
  gap: var(--size-spacing-3);
}

.event-meta__event-topics__topic {
  flex: 1 1 auto;
  background-color: var(--color-gray-100);
}

.event-meta__event-topics__topic a {
  @include atoms.plain-link;
  @include tokens.body-s;

  display: block;
  padding: var(--size-spacing-3);
  text-align: center;
  color: var(--color-text);
}
