// Color variables - it is better to use the colors in
// components/00-base/01-colors/_01-colors-used.scss rather than
// these colors directly.

// Grayscale
$black-gray: #222222;
$gray-dark: #4A4A4A;
$gray-brown: #787069;
$gray: #DDDDDD;
$gray-light: #F9F9F9;
$beige: #FCF5EB;
$white: #FFFFFF;

// Status
$yellow: #f9fb93;
$red: #fbe3e4;
$green: #cfefc2;

// Project
$yale-blue: #00356B;
$mid-blue: #286DC0;
$light-blue: #63AAFF;

// New Haven Green
$green-leaf: #497A10;
$galliano: #DBB60F;
$mimosa: #F7fDD2;

// Blue Stone
$blue-stone: #00626b;
$west-side: #FF9511;
$aero-blue: #BDffCF;

// Muted Elm City
$roman-coffee: #78534b;
$tea-green: #DEF3C5;
$double-pearl-lusta: #FCEFC5;
