// Color variables - it is better to use the colors in
// components/00-base/01-colors/_01-colors-used.scss rather than
// these colors directly.

// Grayscale
$black-gray: #222222;
$gray-dark: #4a4a4a;
$gray-brown: #787069;
$gray: #dddddd;
$gray-light: #f9f9f9;
$beige: #fcf5eb;
$white: #ffffff;

// Status
$yellow: #f9fb93;
$red: #fbe3e4;
$green: #cfefc2;

// Project
$yale-blue: #00356b;
$mid-blue: #286dc0;
$light-blue: #63aaff;

// New Haven Green
$green-leaf: #497a10;
$galliano: #dbb60f;
$mimosa: #f7fdd2;

// Blue Stone
$blue-stone: #00626b;
$west-side: #ff9511;
$aero-blue: #bdffcf;

// Muted Elm City
$roman-coffee: #78534b;
$tea-green: #def3c5;
$double-pearl-lusta: #fcefc5;
