// Color variables - it is better to use the colors in
// components/00-base/01-colors/_01-colors-used.scss rather than
// these colors directly.

// Grayscale
$white: white;
$gray: #666;
$black: black;

// Status
$yellow: #f9fb93;
$red: #fbe3e4;
$green: #cfefc2;

// Project
$blue: #005de0;
