@use '../../00-tokens/tokens';

.block-wrapper {
  @include tokens.spacing-page-section;

  margin-top: 0;

  &:last-child {
    margin-bottom: 0;
  }
}

.block-wrapper__heading {
  @include tokens.heading(h4);
}

// Padding modifiers for block wrapper
.ys-block-wrapper--padding-default {
  padding-top: var(--size-spacing-10);
  padding-bottom: var(--size-spacing-10);
}

.ys-block-wrapper--padding-no-top {
  padding-bottom: var(--size-spacing-10);
}

.ys-block-wrapper--padding-no-bottom {
  padding-top: var(--size-spacing-10);
}
