@use '../../00-tokens/tokens';

.block-wrapper {
  @include tokens.spacing-page-section;

  margin-top: 0;

  &:last-child {
    margin-bottom: 0;
  }
}

.block-wrapper__heading {
  @include tokens.heading(h4);
}

// Padding modifiers for block wrapper
.ys-block-wrapper.ys-block-wrapper--padding-default {
  margin-block-start: var(--size-spacing-10);
  margin-block-end: var(--size-spacing-10);
}

.ys-block-wrapper.ys-block-wrapper--padding-no-top {
  margin-block-end: var(--size-spacing-10);

  // Override child component top spacing with increased specificity
  > * {
    margin-block-start: 0;
  }
}

.ys-block-wrapper.ys-block-wrapper--padding-no-bottom {
  margin-block-start: var(--size-spacing-10);

  // Override child component bottom spacing with increased specificity
  > * {
    margin-block-end: 0;
  }
}

.ys-block-wrapper.ys-block-wrapper--padding-no-padding {
  margin-block-start: 0;
  margin-block-end: 0;

  // Override child component top and bottom spacing with increased specificity
  > * {
    margin-block-start: 0;
    margin-block-end: 0;
  }
}
